<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FinalProject</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FinalProject.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/slicknav.css">
    <link rel="stylesheet" href="~/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/assets/css/gijgo.css">
    <link rel="stylesheet" href="~/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/assets/css/slick.css">
    <link rel="stylesheet" href="~/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/assets/css/style.css">

    <style>
        html, body {
            height: 100%;
            margin: 0; 
        }

        body {
            display: flex;
            flex-direction: column;
        }

        .container {
            flex: 1; 
        }

        footer {
            background-color: #2d3092;
            padding: 40px 40px;
            text-align: center;
            color: #fff;
            width: 100%;
            font-size: 20px;
        }

        .social-media {
            margin-bottom: 10px;
        }

            .social-media a {
                color: #fff;
                margin: 0 10px;
                font-size: 20px;
                text-decoration: none;
            }

        .footer-menu {
            list-style: none;
            padding: 0;
            margin: 0;
            text-align: center;
        }

            .footer-menu li {
                display: inline-block;
                margin: 0 10px;
            }

                .footer-menu li a {
                    color: #ccc;
                    text-decoration: none;
                    font-size: 14px;
                }

                    .footer-menu li a:hover {
                        color: #fff;
                    }

        .copyright {
            margin-top: 15px;
            font-size: 12px;
            color: #ccc;
        }

            .copyright strong {
                color: #fff;
            }
    </style>
</head>
<body>
    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header">
                <div class="header-top d-none d-lg-block">
                    <div class="header-left-social">
                        <ul class="header-social">
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                        </ul>
                    </div>
                    <div class="container">
                        <div class="col-xl-12">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="header-info-left">
                                    <ul>
                                        <li>Courses@gmail.com</li>
                                        <li>666 7475 25252</li>
                                    </ul>
                                </div>
                                <div class="header-info-right">
                                    <ul>
                                        <li>
                                            <a href="~/Account/LogIn" class="user-account for-buy">
                                                <i class="icon icon-user"></i><span>LogIn</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="~/Account/SignUp" class="user-account for-buy">
                                                <i class="icon icon-user"></i><span>SignUp</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-bottom header-sticky">
                    <div class="logo d-none d-lg-block">
                        <a href="index.html"><img src="~/assets/img/logo/logo.png" alt=""></a>
                    </div>
                    <div class="container">
                        <div class="menu-wrapper">
                            <div class="logo logo2 d-block d-lg-none">
                                <a href="index.html"><img src="~/assets/img/logo/logo.png" alt=""></a>
                            </div>
                            <div class="main-menu d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">About Us</a></li>
                                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Course" asp-action="Index">Courses</a></li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-controller="Quiz" asp-action="TakeQuiz" asp-route-id=1>Quiz</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/Home/Tips">Tips</a>
                                        </li>
                                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ContactUs">Contact Us</a></li>
                                        <li class="nav-item"><a class="nav-link" href="/Home/OurTeam">Our Team</a></li>
                                    </ul>
                                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                            aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>
                                </nav>
                            </div>
                            <div class="header-search d-none d-lg-block">
                                <form action="@Url.Action("Search", "Course")" method="get" class="form-box f-right">
                                    <input type="text" name="Search" placeholder="Search Courses" required>
                                    <div class="search-icon">
                                        <i class="fas fa-search special-tag"></i>
                                    </div>
                                </form>
                            </div>
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="social-media">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-google-plus-g"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
        <ul class="footer-menu">
            <li class="nav-item"><a class="nav-link" href="/Home/Index">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/Home/Privacy">About Us</a></li>
            <li class="nav-item"><a class="nav-link" href="/Course/Index">Courses</a></li>
            <li class="nav-item"><a class="nav-link" href="/Home/Tips">Tips</a></li>
            <li class="nav-item">  <a class="nav-link" asp-controller="Quiz" asp-action="TakeQuiz" asp-route-id=1>Quiz</a></li>
            <li class="nav-item"><a class="nav-link" href="/Home/ContactUs">Contact Us</a></li>
            <li class="nav-item"><a class="nav-link" href="/Home/OurTeam">Our Team</a></li>
        </ul>
        <div class="copyright">
            <strong>© 2024 Your Company. All Rights Reserved.</strong>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/assets/js/modernizr-3.6.0.min.js"></script>
    <script src="~/assets/js/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/assets/js/jquery.slicknav.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/main.js"></script>
</body>
</html>


