@using FinalProject.ViewModels

@{
    ViewData["Title"] = "LogIn";
    Layout = "~/Views/Shared/_SignuPLayout.cshtml";
}
@model LogInViewModels

<div class="login-container">
  
    <div class="login-box">
        <div class="image-section">
            <img src="/Images/th.jpg" alt="Image" />
        </div>

        <div class="form-section">
            <h2>Student Login</h2>
            <p>Hey, enter your details to sign in to your account</p>
            <form asp-action="LogIn" method="post" class="login-form">
                <div class="input-group">
                    <input asp-for="Email" type="text" placeholder="Enter your username/email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="input-group">
                    <input asp-for="Password" type="password" placeholder="Enter your password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Login In</button>
            </form>
         
            <div class="signup-link">
                <p>Don't have an account? <a asp-action="SignUp">Signup Now</a></p>
            </div>
        </div>
    </div>
</div>
