<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Education | Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.ico">

 
</head>
<body>
  
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="~/assets/img/logo/loder.png" alt="">
                </div>
            </div>
        </div>
    </div>
 

    <main>
      
        <div class="slider-area">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 text-center">
                                <h2>About Us</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="about-details section-padding30">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="about-details-cap mb-50">
                            <h4>Our Mission</h4>
                            <p>
                                Our mission is to inspire and empower children by providing engaging, hands-on technology courses that foster creativity,
                                innovation, and problem-solving.
                            </p>
                            <p>
                                We aim to cultivate a love for learning, preparing young minds to thrive in an ever-evolving digital world.
                                By offering a fun and supportive environment, we help children develop the skills and confidence they need to become tomorrow's tech leaders
                                and innovators.
                            </p>
                        </div>

                        <div class="about-details-cap mb-50">
                            <h4>Our Vision</h4>
                            <p>
                                Our vision is to create a future where every child has the opportunity to explore and excel in technology.
                                We strive to be a leading platform that nurtures creativity, curiosity, and innovation in young minds,
                                equipping them with the knowledge and skills to succeed in a tech-driven world. By fostering a passion for learning and discovery, we aim to empower the next generation of creators, thinkers, and leaders in the digital age.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     
       
    </main>

 
    <div id="back-top">
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

 
</body>
</html>
