body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    background-color: #a69ae4; /* إزالة الخلفية */
}

.login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff; /* إزالة الخلفية */
}

.login-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 1200px;
    width: 100%;
    height: 100vh; /* يجعل الفورم والصورة يملآن الشاشة بالكامل */
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* عرض الصورة بالكامل */
}

.form-section {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
}

    .form-section h2 {
        font-size: 28px;
        color: #a69ae4;
        margin-bottom: 10px;
    }

    .form-section p {
        margin-bottom: 20px;
        color: #a69ae4;
    }

.input-group {
    margin-bottom: 15px;
}

    .input-group input {
        width: 100%;
        padding: 15px;
        font-size: 16px;
        border-radius: 8px;
        border: 1px solid #a69ae4;
        margin-top: 10px;
        margin-bottom: 10px;
    }

.btn {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #a69ae4;
    color: #fff;
}

    .btn-primary:hover {
        background-color: #bc2df6;
    }

.message {
    text-align: center;
    margin-top: 20px;
}

    .message button {
        width: 48%;
        margin: 5px;
        padding: 10px;
        font-size: 16px;
    }

.signup-link {
    margin-top: 20px;
    text-align: center;
}

    .signup-link a {
        color: #a69ae4;
        text-decoration: none;
    }

        .signup-link a:hover {
            text-decoration: underline;
        }
