@model FinalProject.Models.Courses

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Create Course</title>
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <!-- CSS here -->

</head>
<body>
    <div class="container">
        <h2>Create Course</h2>
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DurationInHours"></label>
                <input asp-for="DurationInHours" class="form-control" />
                <span asp-validation-for="DurationInHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectCount"></label>
                <input asp-for="ProjectCount" class="form-control" />
                <span asp-validation-for="ProjectCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AverageRating"></label>
                <input asp-for="AverageRating" class="form-control" />
                <span asp-validation-for="AverageRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YouTubeLink"></label>
                <input asp-for="YouTubeLink" class="form-control" />
                <span asp-validation-for="YouTubeLink" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>


</body>
</html>
